<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <!-- Stylesheet link -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Font awesome link -->
    <script src="https://kit.fontawesome.com/17564f7c82.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation -->
    <nav id="navbar">
            <a href="#"><h1 class="nav-title">To-Do List</h1></a>
            <a href="/tasks/create"><button class="create">Create New Task <i class="fa-solid fa-plus"></i></button></a>
    </nav>

    <!-- Rendering views here -->
    <%-body%>
</body>
</html>